{% extends "base.html" %}
{% block content %}
  <table border="1">
    <thead>
    {% for partido in partidos  %}
      <tr>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Goles Local</th>
        <th>Goles Visitante</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ partido.equipo_casa_nombre }}</td>
          <td>{{ partido.equipo_visitante_nombre }}</td>
          <td>{{ partido.goles_casa }}</td>
          <td>{{ partido.goles_visitante }}</td>
        </tr>
        {%empty%}
        <tr>
          <td colspan="3">Error, no se pueden cargar los datos del partido</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'Equipos' %}"><button>Volver a la lista</button></a>

{% endblock %}
