{% extends "base.html" %}
{% block content %}
  {% csrf_token %}

  {% if perfil == 'Administrador' %} <!--Solo meto el formulario si es profe-->
  <h1>Añadir Usuario</h1>
  <form method="POST">
 
    {{ form }} <!--Formulario para añadir usuarios-->
    <button type="submit" class="btn btn-primary w-100">Sign in</button>
    {% if mensaje %}{{mensaje}}{% endif %}
  </form>
  {% endif %}

  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
        {% if perfil == "Administrador" %}
        <th>Acciones</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
        <h1>Clientes</h1>
        {% for c in clientes  %} <!--Muestro los clientes-->
        <tr>
          <td>{{ c.nombre}}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.ciudad }}</td>
          {% if perfil == "Administrador" %}
          <td>  <a href="{% url 'BorrarCliente' c.id perfil %}"><button>Borrar</button></a> <!--Le paso el id para que borre y el perfil para que lo pase a la hora de mostrar los detalles clientes-->
          </td>
          {% endif %}
        </tr>
        {%empty%}
        <tr>
          <td colspan="3">Error, al mostrar los clientes</td>
        </tr>
        {% endfor %}
    </tbody>    
  </table>
 

{% endblock %}
