{% extends "index.html" %} {% block content %} {% load static %}
<img class="imgfix" src="{% static 'imagenes/fixPC.png' %}" alt="Logo" />
<a href="{% url 'home' %}">
  <img class="exit" src="{% static 'imagenes/exit.png' %}" alt="Logo" />
</a>
<p></p>
<br />
<h2 class="text-center">Solucion Incidencia</h2>
<form action="" method="POST" novalidate>
  {% csrf_token %} {% if email %}
  <div class="form-group">
    <input class="form-control" value="{{ email }}" />
  </div>
  {% endif %}
  <p></p>
  {% if numero %}
  <div class="form-group">
    <input class="form-control" value="{{ numero }}" />
  </div>
  {% endif %}
  <p></p>
  {% if i %}
  <div class="form-group">
    <input class="form-control" value="{{ i.laboratorio }}" />
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="5" cols="50">
{{ i.descripcion }}</textarea
    >
  </div>
  {% endif %}

  <p></p>
  {% if mensaje %}
  <div class="alert alert-danger">{{ mensaje }}</div>
  {% endif %}
  <div class="text-center">
    <input type="submit" class="btn btn-success" value="Aceptar" />
  </div>
</form>

{% endblock %}
